.app_container {
  display:flex;
  max-height: max-content;
  min-height: 100vh;
}

.app {
  background-color: #f1f2f5;
  min-width: fit-content;
}

.app.active {
  background-color: var(--fb-theme-colour-background);
}